*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.wrapper{
    width: 300px;

    height: 400px;
    background: orange;
    margin: auto;
    margin-top: 50px;
    border-radius: 200px 200px 50px 50px;
    position: relative;
    overflow: hidden;
}
.relative{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: rgb(231, 153, 50);
    position: absolute;
    bottom: -50px;
    left: -70px;
    z-index: 3;
}
.slom{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: rgb(230, 69, 14);
    position: absolute;
    bottom: -50px;
    right: -70px;
    z-index: 4;

}
.alik{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: gold;
    position: absolute;
    top: 185px;
    left: 100px;
    z-index: 1;
}
.box{
    width: 500px;
    height: 500px;
    background: palevioletred;
    margin: auto;
    margin-top: 100px;
    border-radius: 250px 250px 100px 100px;
    position: relative;
    overflow: hidden;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: wheat;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    left: 48px;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: wheat;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    right: 48px;


}
.box3{
    width: 150px;
    height: 150px;
    background-color: wheat;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 50px;

}
.box4{
    width: 150px;
    height: 150px;
    background-color: wheat;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    right: 50px;

}
.box5{
    width: 100px;
    height: 30px;    
    background-color: wheat;
    border-radius: 40px;
    position: absolute;
    bottom: 50px;
    left: 200px;

}

.bell{
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    background: #222;
    position: relative;

}
.bell1{
    width: 250px;
    height: 250px;
    background:orange;
    border-radius: 200px 200px 60px 60px;
    margin:  auto;
    position: absolute;
    top: 150px;
    left: 175px;
    z-index: 3;
   

}
.bell2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:rgb(209, 74, 74);
    position: absolute;
    left: 250px;
    top: 100px;
    z-index: 2;

}
.bell3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:rgb(167, 68, 68);
    position: absolute;
    left: 250px;
    bottom: 150px;
    z-index: 2;

}
.hat{
    width: 700px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    background-color:rgb(218, 144, 49);
    position: relative;
}
.hat1{
    width: 300px;
    height: 250px;
    background: whitesmoke;
    border-radius: 150px 150px 0 0 ;
    position: absolute;
    top: 30px;
    left: 240px;

}
.hat2{
    width: 400px;
    height: 37px;
    background: whitesmoke;
    border-radius: 50px ;
    position: absolute;
    top: 280px;
    left: 190px;
}
.eye{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: whitesmoke;
    position: absolute;
    top: 400px;
    left: 270px;

}
.eye1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: whitesmoke;
    position: absolute;
    top: 380px;
    right: 170px;
}
.lol{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:rgb(218, 144, 49);
    margin-top: 20px;
    margin-left: 20px;
}
.moylov{
    width: 120px;
    height: 120px;
    background: whitesmoke;
    border-radius: 100px 100px 0 100px;
    position: absolute;
    bottom: 60px;
    right: 190px;  
    transform: rotate(310deg);


}
.moylov2{
    width: 120px;
    height: 120px;
    background: whitesmoke;
    border-radius: 100px 100px 100px 0;
    position: absolute;
    bottom: 60px;
    left: 250px;    
    transform: rotate(45deg);

}